
/* Navigation bar margin*/  
body {
    padding-top: 60px;
  }
  @media (max-width: 979px) {
    body {
      padding-top: 40px;
    }
  }

/* Headlines */
.headline{
  margin: auto;
  text-align: center;
  margin-top: 5%;
}
.title{
  margin: 2%;
}
.personalized-headline{
  margin: 2%;
}

/* Login Page */
.login{
  margin-top: 8%; 
}

/* Tasks */
.tasks{
  margin: 3% 20% 
}


.head-task-text{
  font-weight: 600;
  font-size: 200%;
}

.head-separator{
  border: 1px solid rgb(167, 28, 164);
  margin-right: 40%;
}

.task{
  padding-bottom: 1%;
}

.task-text{
  font-size: 150%;
}

.check-image{
  height:10%;
  width: auto;
}

.control{
  margin-left: 25px;
  font-size: 120%;
  color: rgb(167, 28, 164);
  margin-top: 3px;
}


