{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{%with messages = get_flashed_messages() %}
{%include 'header.html'%}

<div class="row headline">
  <div class="col">
  {%if logged_in%}
    <h3 class="personalized-headline">Hi {{current_user.name}}, this is your:</h3>
  {%endif%}
  <h1 class="title">To Do List</h1>
  </div> 
</div>

{%if not logged_in%}
<div class="container login">
    <div class="row">

      <div class="col-lg-8 col-md-10 mx-auto content">
        {{ wtf.quick_form(form, button_map={"submit": "primary"}) }}
      </div>
    </div>
    {%if messages%}
    {%for message in messages%}
    <p style="color:red;text-align: center; font-size: 80%; "> {{ message }} </p>
    {%endfor%}
    {%endif%}
  </div>
  {%endif%}
  {%endwith%}

  {%if logged_in%}
  <div class="container-fluid tasks">
      {%for task in to_do_list%}
      <div class="row task">

        <div class="col-md-2">
          {{task.name}}
        </div>
        <div class="col-md-2">
          {{task.deadline}}
        </div>
        <div class="col-md-4">
          {{task.description}}
        </div>
      </div>
      {%endfor%}
    </div>
  {%endif%}

  


  {%endblock%}
  
{%include 'footer.html'%}
